
*{
    margin: 70;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit' , sans-serif;
}

body{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

h1{ color: #fff;}

.trilho{
    width: 350px;
    height: 150px;
    background-color: #4d4d4d;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
}

.trilho.dark .indicador{
    left: 200px;
}
